.content {
  position: relative;
  width: 100%;
  height: 504px;
}

.canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  /*object-fit: cover;*/
  object-fit: scale-down;

  &.active {
    opacity: 1;
  }
}

.buttonsContainer {
  padding: 12px;
  bottom: 0;
  position: absolute;
  display: flex;
  gap: 32px;
  width: 100%;

  :last-child {
    margin-left: auto;
  }
}
