*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
