.imageList {
  position: absolute;
  display: flex;
  gap: 12px;
  bottom: -100%;
  right: 100%;
  background-color: inherit;
  padding: 12px;
}

.canvasButton {
    width: 80px;
    height: 82px;
    border: none;
}

.canvas {
  width: 100%;
  height: 100%;
}

.addButton {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: inherit;
    border: none;

    input {
        inset: 0;
        position: absolute;
        opacity: 0;
        cursor: pointer !important;

        &::file-selector-button {
            cursor: pointer !important;
        }
    }
}