.SignUpContent {
  background-color: var(--color-dark-700);
  min-height: 100vh;
  padding: 24px 0;
}

.button {
  width: 96px;
  height: 36px;
}

.text {
  font-family: var(--font-sans);
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  margin-bottom: 18px;
}

@media (width <= 600px) {
  .SignUpContent {
    padding: 0;
  }
}
