.fon {
  position: fixed;
  inset: 0;
  background-color: var(--color-dark-700);
  z-index: 1;
}

.dialog {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 378px;
  height: 228px;
  box-sizing: border-box;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background: var(--color-dark-300);
  color: var(--color-light-100);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  align-content: center;
}

.svgButton {
  width: 24px;
  height: 24px;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 24px;
}

.button {
  width: 96px;
  height: 36px;
}

.text {
  font-family: var( --font-sans);
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  margin-bottom: 18px;
}


@media(width <= 900){
  .dialog {
    width: 350px;
    height: 230px;
  };

  .main {
    justify-content: center;
align-items: center;
  };

  .button {
width: 306px;
height: 48px;
}
}

@media(width <= 360){
  .dialog {
    width: 330px;
    height: 240px;
  };

  .main {
    justify-content: center;
align-items: center;
  }

.button {
width: 306px;
height: 48px;
}
  
}

