@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap";

:root {
  /* Размеры текста */
  --text-xs: 12px; /* small_text */
  --text-sm: 14px; /* regular_text 14, bold_text 14 */
  --text-md: 16px; /* regular_text 16, bold_text 16 */
  --text-lg: 18px; /* Large */
  --text-xl: 20px; /* H3 */
  --text-2xl: 24px; /* H2 */
  --text-3xl: 32px; /* H1 */

  /* Шрифтовые стеки */
  --font-sans:
    "Inter", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  /* Веса шрифтов */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Настройки рендеринга */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Базовые стили */
body {
  font-family: var(--font-sans), sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--text-md);
}
